# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity-Custom-RP.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GitRepo\Unity-Custom-RP\.idea\.idea.Unity-Custom-RP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
